<p id="notice"><%= notice %></p>

<% provide(:title, 'cSUS-Suppliers') %>

<h1>System Suppliers</h1>

<%= link_to 'New System supplier', new_system_supplier_path, :class => "btn btn-info"  %>

<table>
  <thead>
    <tr>
      <th>Supplier name</th>
      <th>Supplier primary phone</th>
      <th>Supplier email</th>
      <th>Supplier website url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @system_suppliers.each do |system_supplier| %>
      <tr>
        <td><%= system_supplier.supplier_name %></td>
        <td><%= system_supplier.supplier_primary_phone %></td>
        <td><%= system_supplier.supplier_email %></td>
        <td><%= system_supplier.supplier_website_url %></td>
        <td><%= link_to 'Show', system_supplier %></td>
        <td><%= link_to 'Edit', edit_system_supplier_path(system_supplier) %></td>
        <td><%= link_to 'Destroy', system_supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
