<p id="notice"><%= notice %></p>

<p>
  <strong>Hospital name</strong>
  <%= @hospital.hospital_name %>
</p>

<p>
  <strong>Hospital Postcode</strong>
  <%= @hospital.hospital_post_code %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
