<h1>Import Trust Data</h1>

  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <%= end %>

<%= link_to 'Back', trusts_path %>
