<h1>Listing Trusts</h1>

<%= link_to 'New Trust', new_trust_path %>
<br/>
<br/>

<%= form_tag import_trusts_path, multipart: true, :class => 'form-inline' do %>
  <%= label_tag 'Import Trusts via CSV' %>
  <%= file_field_tag :file, class: 'btn btn-default' %>
  <%= submit_tag "Import CSV", class: 'btn btn-default btn-primary' %>
<% end %>
<br/>

<table>
  <thead>
    <tr>
      <th colspan="1">DHI Number</th>
      <th colspan="1">NHS ODS Code</th>
      <th colspan="1">Legal Name</th>
      <th colspan="1">Display Name</th>
      <th colspan="1">Trust Type</th>
      <th colspan="1">Postcode</th>
      <th colspan="1">Region</th>
    </tr>
  </thead>

  <tbody>
    <% @trusts.each do |trust| %>
      <tr>
        <td><%= trust.trust_number %></td>
        <td><%= trust.trust_nhs_code %></td>
        <td><%= trust.trust_legal_name %></td>
        <td><%= trust.trust_display_name %></td>
        <td><%= trust.trust_type %></td>
        <td><%= trust.trust_postcode %></td>
        <td><%= trust.trust_region %></td>

        <td><%= link_to 'Edit', edit_trust_path(trust), :class => "btn btn-default"  %></td>
        <td><%= link_to 'Delete', trust,
          method: :delete,
          data: { confirm: 'Are you sure?' },
          :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
