<% provide(:title, 'Systems') %>
<h1>List Systems</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% @systems.each do |system| %>
      <div class="entry">
        <%= system.system_name %>
        <%= system.system_type %>
        <%= system.system_main_web_url %>
        <%= system.system_user_group_url %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New System', new_system_path, :class => "btn btn-default" %>
