<% provide(:title, 'Systems') %>
<h1>List Systems</h1>

<%= link_to 'New System', new_system_path, :class => "btn btn-default" %>

<%= form_tag import_systems_path, multipart: true, :class => 'form-inline' do %>
  <%= label_tag 'Import Systems via CSV' %>
  <%= file_field_tag :file, class: 'btn btn-default' %>
  <%= submit_tag "Import CSV", class: 'btn btn-default btn-primary' %>
<% end %>
<br/>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% @systems.each do |system| %>
      <div class="entry">
        <%= system.system_name %>
        <%= system.system_type %>
        <%= system.system_main_web_url %>
        <%= system.system_user_group_url %>

        <td><%= link_to 'Edit', edit_system_path(trust), :class => "btn btn-default"  %></td>
        <td><%= link_to 'Delete', system,
          method: :delete,
          data: { confirm: 'Are you sure?' },
          :class => "btn btn-danger" %></td>

      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New System', new_system_path, :class => "btn btn-default" %>
