<% provide(:title, 'Systems') %>
<h1>List Systems</h1>

<%= link_to 'New System', new_system_path, :class => "btn btn-info" %>

<%= form_tag import_systems_path, multipart: true, :class => 'form-toolbar' do %>
  <fieldset class="form-group">
    <%= label_tag 'Import Systems via CSV' %>
    <%= file_field_tag :file, class: 'btn btn-default' %>
    <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
  </fieldset>

  <%= submit_tag "Import Systems from CSV", class: 'btn btn-default btn-primary' %>

<% end %>

<br/>

<table>
  <thead>
    <tr>
      <th colspan="1">System Name</th>
      <th colspan="1">System Type</th>
      <th colspan="1">System URL</th>
      <th colspan="1">User Group URL</th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= system.system_name %></td>
        <td><%= system.system_type %></td>
        <td><%= system.system_main_web_url %></td>
        <td><%= system.system_user_group_url %></td>

        <td><%= link_to 'Edit', edit_system_path(trust), :class => "btn btn-default"  %></td>
        <td><%= link_to 'Delete', system,
          method: :delete,
          data: { confirm: 'Are you sure?' },
          :class => "btn btn-danger" %></td>
      </tr>

    <% end %>
  </tbody>
</table>
