<div id="sus_modal" class="modal fade" role="dialog" aria-labelledby="new_sus_modal"></div>

<%= form_for(@review) do |f| %>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prevented this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="form-group">

        <%= f.label "Give your review a title" %>
        <%= f.text_area :review_title, :autofocus => true, class: "form-control" %>

        <%= f.label "What do you like most about the system?" %>
        <%= f.text_area :review_positive_text, class: "form-control" %>

        <%= f.label "What would you change about the system?" %>
        <%= f.text_area :review_negative_text, class: "form-control" %>

    </div>
  </fieldset>

  <fieldset>
    <p>The Systems Usability Scale is a tried and tested, cross industry measure of usability</p>
    <div class="form-group">
      <%= f.label "SUS Score" %>
      <%= f.text_field :sus_score, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= link_to "Add a SUS score to your review", new_sus_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'class' => "btn btn-primary"} %>
    </div>

    <p>The Clinical Systems Usability Scale is a newer measure of the impact the system has on clinical workflow</p>
    <div class="form-group">
      <%= f.label :csus_score %>
      <%= f.text_field :csus_score, class: "form-control" %>
    </div>
  </fieldset>

  <fieldset>
    <p>Star Ratings are a simple and quick way to rate a system</p>
    <div class="form-group">
      <%= f.label :star_rating %>
      <%= f.number_field :star_rating, class: "form-control" %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit "Submit Review", class: "btn btn-primary" %>
  </div>

<% end %>
