<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :review_title %><br>
    <%= f.text_area :review_title %>
  </div>
  <div class="field">
    <%= f.label :review_body %><br>
    <%= f.text_area :review_body %>
  </div>
  <div class="field">
    <%= f.label :sus_score %><br>
    <%= f.text_field :sus_score %>
  </div>
  <div class="field">
    <%= f.label :csus_score %><br>
    <%= f.text_field :csus_score %>
  </div>
  <div class="field">
    <%= f.label :star_rating %><br>
    <%= f.number_field :star_rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
