<p id="notice"><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Compare Your Review</h3>
  </div>
  <div class="panel-body">
    <p class="h4">You reviewed <strong><%= System.find(Review.last.system_id).system_name %></strong> at your current trust <strong><%= Trust.find(User.find(Review.last.user_id).trust_id).trust_legal_name %></strong></p>
    <p class="h4">You have rated this system with a Clinical Usability Score of <%= Review.last.total_csus_score %></p>

    <p class="h4">The average Clinical Usability Score (based on previous reviews) for this system is <%= @other_reviews.average(:sus_score_placeholder) %></p>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Other reviewers by professional group</h3>
  </div>
  <div class="panel-body">
    <div>
      <%= pie_chart @other_reviews.group(:user_category).count, width: "1200px", height: "300px" %>
    </div>
  </div>
</div>





<div>
  <%#= column_chart @other_reviews.select(:csus_score_placeholder) %>
</div>

<div class="btn-group btn-group-justified" role="group">
  <%= link_to 'Share via Facebook', '#', class: "btn btn-success" %>
  <%= link_to 'Share via Twitter', '#', class: "btn btn-info" %>
  <%= link_to 'Share via Email', '#', class: "btn btn-warning" %>
</div>

<br/><br/><br/>

<%= link_to 'Back', reviews_path, class: "btn btn-primary" %>

<br/><br/><br/><br/><br/>
