<p id="notice"><%= notice %></p>

<p>
  <strong>Title</strong>
  <%= @review.review_title %>
</p>

<p>
  <strong>What do you like about the system?</strong>
  <%= @review.review_positive_text %>
</p>

<p>
  <strong>What would you change about the system?</strong>
  <%= @review.review_negative_text %>
</p>

<p>
  <strong>SUS score</strong>
  <%= @review.sus_score %>
</p>

<p>
  <strong>cSUS score</strong>
  <%= @review.csus_score %>
</p>

<p>
  <strong>Star Rating</strong>
  <%= @review.star_rating %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
