<% if user_signed_in? %>

  <!-- any logged-in users navigation links -->
  <li><%= link_to 'My reviews', '#' %></li>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>

<% else %>

  <!-- non-logged-in users can't see anything-->
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>

<% end %>
